.jumbotron-fluid,.container-fluid,.header {
  box-shadow: 0 5px 10px grey;
  background-color: white;
  position: fixed;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  z-index: 1;
  height: 100px;

  .headerText {
    margin-top: 25px;
    padding: 10px;
    color:  #808080;
    font-weight: 700;
  }

}